name: Deploy to Server

on:
  push:
    branches: [main, master]
  workflow_dispatch: # Cho phép chạy thủ công từ GitHub

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT || 22 }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}

            # Pull latest code
            git pull origin main

            # Build assets
            yarn build

            #optimize
            php artisan optimize:clear

            php artisan optimize

            echo "✅ Deployment completed successfully!"
