name: nuxt_deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      PROCESS_NAME: index
      PROJECT_PATH: /var/www/ecommerce/frontend
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
      SSH_USER: ${{ secrets.SSH_USER }}
      ECOSYSTEM_PATH: ./ecosystem.config.cjs
      YARN_PATH: /root/.nvm/versions/node/v22.9.0/bin/yarn
      PM2_PATH: /root/.nvm/versions/node/v22.9.0/bin/pm2
    outputs:
      commit_message: ${{ steps.get_commit_message.outputs.commit_message }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get Commit Message
        id: get_commit_message
        run: |
          COMMIT_MESSAGE=$(git log -1 --pretty=format:"%s")
          echo "::set-output name=commit_message::$COMMIT_MESSAGE"

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H $SSH_HOST >> ~/.ssh/known_hosts
          chmod 600 ~/.ssh/known_hosts

      - name: Deploy to server
        id: deploy
        run: |
          echo "Deploying..."
          sshpass -p "$SSH_PASSWORD" ssh $SSH_USER@$SSH_HOST << EOF
            cd ${{ env.PROJECT_PATH }}
            # Pull từ git về 
            git checkout -- yarn.lock package-lock.json package.json
            git pull 
          
            # Cài đặt các dependencies
            ${{ env.YARN_PATH }} install
            ${{ env.YARN_PATH }} build

            # Check process
            if ${{ env.PM2_PATH }} list | grep '${{ env.PROCESS_NAME }}'; then
              echo "Dừng và xoá process..."
              ${{ env.PM2_PATH }} stop ${{ env.PROCESS_NAME }}
              ${{ env.PM2_PATH }} delete ${{ env.PROCESS_NAME }}
            else
              echo "Không có process hoạt động."
            fi

            # Chạy pm2
            pm2 start ${{ env.ECOSYSTEM_PATH }} --env production

            echo 'Deploy thành công!'
          EOF
